In [15]:
import pandas as pd

csv = pd.read_csv("../Resources/S&P500.csv")

csv.head()

  Unnamed: 0      Open      High       Low     Close Adj Close          Volume
0  13-Jan-23  3,960.60  4,003.95  3,947.67  3,999.09  3,999.09   2,305,897,000
1   9-Jan-23  3,910.82  4,003.95  3,877.29  3,999.09  3,999.09  20,846,120,000
2   2-Jan-23  3,853.29  3,906.19  3,794.33  3,895.08  3,895.08  16,190,230,000
3  26-Dec-22  3,843.34  3,858.19  3,780.78  3,839.50  3,839.50  12,097,370,000
4  19-Dec-22  3,853.79  3,889.82  3,764.49  3,844.82  3,844.82  18,506,410,000

In [16]:
# getting rid of commas
csv["Open"] = csv["Open"].replace(",", "", regex=True)
csv["High"] = csv["High"].replace(",", "", regex=True)
csv["Low"] = csv["Low"].replace(",", "", regex=True)
csv["Close"] = csv["Close"].replace(",", "", regex=True)
csv["Adj Close"] = csv["Adj Close"].replace(",", "", regex=True)
csv["Volume"] = csv["Volume"].replace(",", "", regex=True)

# getting rid of dashes
csv["Open"] = csv["Open"].replace("-", "", regex=True)
csv["High"] = csv["High"].replace("-", "", regex=True)
csv["Low"] = csv["Low"].replace("-", "", regex=True)
csv["Close"] = csv["Close"].replace("-", "", regex=True)
csv["Volume"] = csv["Volume"].replace("-", "", regex=True)

display(csv.head())

csv['Volume'].dtypes

  Unnamed: 0     Open     High      Low    Close Adj Close       Volume
0  13-Jan-23  3960.60  4003.95  3947.67  3999.09   3999.09   2305897000
1   9-Jan-23  3910.82  4003.95  3877.29  3999.09   3999.09  20846120000
2   2-Jan-23  3853.29  3906.19  3794.33  3895.08   3895.08  16190230000
3  26-Dec-22  3843.34  3858.19  3780.78  3839.50   3839.50  12097370000
4  19-Dec-22  3853.79  3889.82  3764.49  3844.82   3844.82  18506410000

dtype('O')

In [17]:
csv["Open"] = pd.to_numeric(csv["Open"])
csv["High"] = pd.to_numeric(csv["High"])
csv["Low"] = pd.to_numeric(csv["Low"])
csv["Close"] = pd.to_numeric(csv["Close"])
csv["Adj Close"] = pd.to_numeric(csv["Adj Close"])
csv["Volume"] = pd.to_numeric(csv["Volume"])

display(csv.head())

csv['Volume'].dtypes

ValueError: Unable to parse string "-" at position 4689